.home__news
  width: 100%
  margin-top: 50px
  &-title
    color: #fff
    font-weight: 700
    font-size: 30px
  &-wrap
    margin-top: 50px
    display: grid
    grid-template-columns: repeat(4, 284px)
    grid-gap: 55px
