<div class="home__news">
  <h2 class="home__news-title">Actual news</h2>
  <div class="home__news-wrap">
    <app-home-card 
      *ngFor="let item of loadedNews$ | async | slice:0:(page*4) trackBy: findIdNews"
      [cardImage]="item.urlToImage" 
      [cardDescr]="item.description" 
      [cardTypes]="['BBC News']" 
      [cardTitle]="item.title"
      [cardLink]="item.url">
    </app-home-card>
  </div>
  <div class="home__news-btn" *ngIf="isLoadBtnShow">
    <button (click)="onLoadNews()" 
    [disabled]="loadingNews$ | async">Load more news ({{amountOfLoads}})</button>
  </div>
</div>