<div class="home__currency">
  <h2 class="home__currency-title">Currency data</h2>
  <div class="home__currency-wrap">
    <div class="home__wrap-card">
      <img src="assets/images/bitcoin.png" alt="coin">
      <div>
        <p>Bitcoin</p>
        <p>38790.109$</p>
      </div>
    </div>
    <div class="home__wrap-card">
      <img src="assets/images/ethereum.png" alt="coin">
      <div>
        <p>Bitcoin</p>
        <p>38790.109$</p>
      </div>
    </div>
    <div class="home__wrap-card">
      <img src="assets/images/solona.png" alt="coin">
      <div>
        <p>Bitcoin</p>
        <p>38790.109$</p>
      </div>
    </div>
    <div class="home__wrap-card">
      <img src="assets/images/avalanche.png" alt="coin">
      <div>
        <p>Bitcoin</p>
        <p>38790.109$</p>
      </div>
    </div>
    <div class="home__wrap-card">
      <img src="assets/images/cosmos.png" alt="coin">
      <div>
        <p>Bitcoin</p>
        <p>38790.109$</p>
      </div>
    </div>
  </div>
</div>