<div class="home__header">
  <div class="home__header-text">
    <h1>Daptellum Blog</h1>
    <p>Find interesting and helpful information for yourself</p>
  </div>
  <div class="home__header-images">
    <div class="home__images-wrap">
      <img src="assets/images/logo.png" alt="logo">
      <div>
        <a href="https://t.me/daptellum" target="_blank">
          <img src="assets/images/telegram.png" alt="telegram">
        </a>
        <a href="https://github.com/Dmitiyy" target="_blank">
          <img src="assets/images/github.png" alt="github">
        </a>
        <a href="https://www.instagram.com/daptellum.dev/" target="_blank">
          <img src="assets/images/instagram.png" alt="instagram">
        </a>
      </div>
    </div>
  </div>
</div>